<footer>
    <div class="row">
        <a rel="nofollow" target="_blank" href="#">
            关于我们
        </a>
        |
        <a rel="nofollow" target="_blank" href="#">
            联系我们
        </a>
        |
        <a rel="nofollow" target="_blank" href="#">
            人才招聘
        </a>
        |
        <a rel="nofollow" target="_blank" href="#">
            商家入驻
        </a>
        |
        <a rel="nofollow" target="_blank" href="#">
            广告服务
        </a>
        |
        <a rel="nofollow" target="_blank" href="#">
            手机京东
        </a>
        |
        <a target="_blank" href="#">
            友情链接
        </a>
        |
        <a target="_blank" href="#">
            销售联盟
        </a>
        |
        <a href="#" target="_blank">
            鲜果社区
        </a>
        |
        <a href="#" target="_blank">
            鲜果公益
        </a>
        |
        <a target="_blank" href="#" clstag="pageclick|keycount|20150112ABD|9">English Site</a>
    </div>
    <div class="copyright">
        Copyright&#169;2004-2015&nbsp;&nbsp;鲜果 FreshFruit.com&nbsp;版权所有
    </div>
</footer>