<div class="jumbotron">
    <h1>Fresh Fruit</h1>
    <p class="lead">Fruit sales e - commerce platform</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Index Entrance</h2>
        <p>
            Index Entrance is a framework that makes it easy to build.
        </p>
        <p>
            @Html.ActionLink("Index Entrance", "IndexEntrance", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Wechat Entrance</h2>
        <p>
            Wechat Entrance is a framework that makes it easy to build.
        </p>
        <p>
            @Html.ActionLink("Wechat Entrance", "WechatEntrance", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Admin Entrance</h2>
        <p>
            Admin Entrance is a framework that makes it easy to build.
        </p>
        <p>
            @Html.ActionLink("Admin Entrance", "AdminEntrance", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>